<h1>Editing student record</h1>

<%= render "form", student_record: @student_record %>

<br>

<div>
  <%= link_to "Show this student record", @student_record %> |
  <%= link_to "Back to student records", student_records_path %>
</div>
